DEMO_ADMIN_EMAIL=
DEMO_ADMIN_ENABLED=
DEMO_ADMIN_INSTANT_ACCESS_ENABLED=
DEMO_ADMIN_JWT_SECRET=
DEMO_ADMIN_PASSWORD=
DEMO_ADMIN_USER_ID=
FRONTEND_URL=
MONGO_URI=
SUPABASE_PROJECT_ID=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
VITE_API_URL=
VITE_DEMO_ADMIN_EMAIL=
VITE_DEMO_ADMIN_ENABLED=
VITE_GOOGLE_MAPS_API_KEY=
VITE_INSTANT_DEMO_ACCESS_ENABLED=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=