INVENTORY_MONGO_URI=mongodb://localhost:27017
INVENTORY_DB_NAME=pharma_inventory
SERVICE_AUTH_SECRET=
SERVICE_JWT_ISSUER=ashvin-pharmacy
SERVICE_JWT_AUDIENCE=inventory-service
INVENTORY_SERVICE_PORT=5100
INVENTORY_BATCH_SIZE=250
INVENTORY_WORKER_CONCURRENCY=1
INVENTORY_MAX_RETRIES=3
INVENTORY_IMPORT_MAX_FILE_BYTES=104857600
INVENTORY_IMPORT_STORAGE=./data/imports
